$panelWidth: 220px

// colors
$bright: #fcfcfc
$dark: #232529
$accent: #1fd2ff

// spacings
$padding: 3px
$inputPadding: 2px

// radius
$radius: 3px

// font
$primary: 'Lato', sans-serif
$code: 'Ubuntu Mono', monospace

$primarySize: 12px