$panelWidth: 250px;

// colors
$bright: #fcfcfc;
$dark: #232529;
$accent: #FFD578;

// spacings
$padding: 3px;

// radius
$radius: 4%;

// font
$primary: 'Lato', sans-serif;
$code: 'Ubuntu Mono', monospace;

$primarySize: 12px;