/* global variables */
$sms-g-width: 200px;
$sms-g-height: auto;
$sms-g-font: 'Roboto', sans-serif;
$sms-g-font-size: 12px;
$sms-g-control-font-size: 10px;
$sms-g-text-color: #ffffff;
$sms-g-primary-color: #16285A;
$sms-g-secondary-color: #101B39;
$sms-g-box-sizing: border-box;
$sms-g-h-padding: 10px;
$sms-g-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

/* panel header variables */
$sms-panel-header-bg: $sms-g-primary-color;
$sms-panel-header-height: 25px;

/* mixins */

@define-mixin flexAJ $align, $justify {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@define-mixin header {
    width: 100%;
    height: $sms-panel-header-height;
    box-shadow: $sms-g-box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        cursor: pointer;
    }
}

@define-mixin name {
    font-family: $sms-g-font;
    font-size: $sms-g-font-size;
    color: $sms-g-text-color;
    padding: 0 $sms-g-h-padding;
    margin: 0;
    box-sizing: $sms-g-box-sizing;
    user-select: none;
}

/* panel */
.sms-panel {
    position: absolute;
    width: $sms-g-width;
    background-color:$sms-panel-header-bg;
    box-shadow: $sms-g-box-shadow;
}

.sms-panel * {
    box-sizing: $sms-g-box-sizing;
}

.sms-panel-header {
    @mixin header;
}

.sms-panel-header-name {
    @mixin name;
    font-weight: 500;
}

.sms-panel-header-span {
    @mixin name;
    font-weight: 500;
}

.sms-panel-body {
    width: 100%;
    height: auto;
    padding: calc($sms-g-h-padding / 2) 0;
    background-color: $sms-g-secondary-color;
    color: $sms-g-text-color;
    font-family: $sms-g-font;
    flex-direction: column;
    @mixin flexAJ flex-start, space-around;
}

/* controls */
.sms-control {
    width: 100%;
    height: auto;
    padding: calc($sms-g-h-padding / 2) $sms-g-h-padding;
    display: flex;
    flex-direction: column;
}

/* buttons */

$sms-button-border-color: #C0C0C0;

.sms-button {
    width: 180px;
    height: 25px;
    background-color: $sms-g-secondary-color;
    border: 1px solid $sms-button-border-color;
    border-radius: 2px;
    padding: 0 $sms-g-h-padding;
    font-family: $sms-g-font;
    font-size: $sms-g-control-font-size;
    font-weight: 400;
    color: $sms-g-text-color;
    text-align: left;
    &:hover {
        cursor: pointer;
        outline: none;
        background-color: #102052;
    }
    &:focus {
        cursor: pointer;
        outline: none;
        background-color: #0B1638;
        &:hover {
            background-color: #102052;
        }
    }
}

/* text */
.sms-text {
    width: 180px;
    height: 25px;
    background-color: $sms-g-text-color;
    color: $sms-g-primary-color;
    font-size: 10px;
    border: 1px solid $sms-button-border-color;
    padding: 0 $sms-g-h-padding;
    &:hover {
        cursor: text;
    }
    &:placeholder {
        font-size: 10px;
        font-family: $sms-g-font;
        color: $sms-button-border-color;
    }
    &:focus {
        outline: none;
    }
}

/* textarea */
.sms-textarea {
    @extend .sms-text;
    padding: 5px $sms-g-h-padding;
    resize: none;
    height: 100px;
    border: none;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

/* range (oh boy, this gonna be hard) */

@define-mixin track {
    background-color: $sms-g-primary-color;
    width: 180px;
    height: 15px;
}

@define-mixin thumb {
    width: 15px;
    height: 15px;
    background-color: #3366FF;
    border-radius: 2px;
}

.sms-range {
    appearance: none;
    width: 180px;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    /* slider */
    &::-webkit-slider-runnable-track {
        @mixin track;
    }
    &:focus::-webkit-slider-runnable-track {
        @mixin track;
    }
    &::-moz-range-track {
        @mixin track;
    }
    &::-ms-track {
        @mixin track;
    }
    &::-ms-fill-lower {
        background-color: #102052;
    }
    &:::-ms-fill-upper {
        background-color: #102052;
    }
    &:focus::-ms-fill-lower {
        background-color: #102052;
    }
    &:focus::-ms-fill-upper {
        background-color: #102052;
    }
    /* thumb */
    &::-webkit-slider-thumb {
        appearance: none;
        @mixin thumb;
    }
    &::-moz-range-thumb {
        @mixin thumb;
    }
    &::-ms-thumb {
        @mixin thumb;
    }
}

.sms-label-span {
    width: 30%;
    text-align: right;
    font-family: $sms-g-font;
    font-size: 10px;
    font-weight: 400;
    align-self: flex-end;
}

/* checkbox */
.sms-checkbox {
    box-sizing: border-box;
    appearance: none;
    width: 30px;
    height: 20px;
    border-radius: 8px;
    background-color: #1B3585;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;
        top: 0;
        background-color: white;
        box-shadow: 0 1px 3px rgba(255, 255, 255, 0.25);
        transition: 200ms all ease-in-out;
    }
    &:checked:before {
        left: 12.25px;
        background-color: #2EA883;
    }
    &:not(:checked):before {
        background-color: #3366FF;
        left: 0;
    }
    &:disabled {
        background-color: $sms-g-primary-color;
    }
    &:disabled:before {
        background-color: #2447B3;
        box-shadow: none;
    }
}

/* file */
.sms-file {
    font-size: 10px;
    color: $sms-g-text-color;
}

/* select */
.sms-select {
    font-size: 10px;
}

/* color */
.sms-color {
    width: 100%;
    border: none;
}

.sms-color::-webkit-color-swatch {
	border: none;
}

.sms-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

/* utilities */
.sms-label {
    font-family: $sms-g-font;
    font-size: 10px;
    font-weight: 400;
    width: 100%;
    color: $sms-g-text-color;
    padding-bottom: 5px;
    line-height: 10px;
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none !important;
} 