/* global variables */
$sms-g-width: 200px;
$sms-g-height: auto;
$sms-g-font: 'Roboto', sans-serif;
$sms-g-font-size: 12px;
$sms-g-control-font-size: 10px;
$sms-g-text-color: #ffffff;
$sms-g-primary-color: #16285A;
$sms-g-secondary-color: #101B39;
$sms-g-box-sizing: border-box;
$sms-g-h-padding: 10px;
$sms-g-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

/* panel header variables */
$sms-panel-header-bg: $sms-g-primary-color;
$sms-panel-header-height: 25px;

/* mixins */

@define-mixin flexAJ $align, $justify {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@define-mixin header {
    width: 100%;
    height: $sms-panel-header-height;
    box-shadow: $sms-g-box-shadow;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
}

@define-mixin name {
    font-family: $sms-g-font;
    font-size: $sms-g-font-size;
    color: $sms-g-text-color;
    padding: 0 $sms-g-h-padding;
    margin: 0;
    box-sizing: $sms-g-box-sizing;
    user-select: none;
}

/* panel */
.sms-panel {
    position: absolute;
    width: $sms-g-width;
    background-color:$sms-panel-header-bg;
    box-shadow: $sms-g-box-shadow;
}

.sms-panel * {
    box-sizing: $sms-g-box-sizing;
}

.sms-panel-header {
    @mixin header;
}

.sms-panel-header-name {
    @mixin name;
    font-weight: 500;
}

.sms-panel-body {
    width: 100%;
    height: auto;
    padding: calc($sms-g-h-padding / 2) 0;
    background-color: $sms-g-secondary-color;
    color: $sms-g-text-color;
    font-family: $sms-g-font;
    flex-direction: column;
    @mixin flexAJ flex-start, space-around;
}

/* controls */
.sms-control {
    width: 100%;
    height: auto;
    padding: calc($sms-g-h-padding / 2) $sms-g-h-padding;
    display: flex;
    flex-direction: column;
}

/* buttons */

$sms-button-border-color: #C0C0C0;

.sms-button {
    width: 180px;
    height: 25px;
    background-color: $sms-g-secondary-color;
    border: 1px solid $sms-button-border-color;
    border-radius: 2px;
    padding: 0 $sms-g-h-padding;
    font-family: $sms-g-font;
    font-size: $sms-g-control-font-size;
    font-weight: 400;
    color: $sms-g-text-color;
    text-align: left;
    &:hover {
        cursor: pointer;
        outline: none;
        background-color: #102052;
    }
    &:focus {
        cursor: pointer;
        outline: none;
        background-color: #0B1638;
        &:hover {
            background-color: #102052;
        }
    }
}

/* text */
.sms-text {
    width: 180px;
    height: 25px;
    background-color: $sms-g-text-color;
    color: $sms-g-primary-color;
    font-size: 10px;
    border: 1px solid $sms-button-border-color;
    padding: 0 $sms-g-h-padding;
    &:placeholder {
        font-size: 10px;
        font-family: $sms-g-font;
        color: $sms-button-border-color;
    }
    &:focus {
        outline: none;
    }
}

/* utilities */
.sms-label {
    font-family: $sms-g-font;
    font-size: 10px;
    font-weight: 400;
    width: 100%;
    color: $sms-g-text-color;
    padding-bottom: 5px;
    line-height: 10px;
}

.hide {
    display: none !important;
} 